@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}


body{
  margin:auto;
  min-width: 300px;
  max-width: 440px;
  border: 1px solid black;
  overflow: hidden;
  height: 100vh;
}